{% extends 'confidence_circle/base.html' %}

{% block confidence_circle_content %}
    <h2>{{ confidencecircle }}</h2>
    <small>(<a href="{%  url 'confidence_circle_update' confidencecircle.slug confidencecircle.pk %}">update</a>|<a href="{% url 'confidence_circle_delete' confidencecircle.slug confidencecircle.pk %}">delete</a> )</small>

    <ul>
        <li><strong>Name:</strong> {{ confidencecircle.name }}</li>
        <li><strong>Slug:</strong> {{ confidencecircle.slug }}</li>
        <li><strong>Owner:</strong> {{ confidencecircle.user }}</li>
        <li><strong>Users:</strong> <small>(add)</small>
            {% for user in confidencecircle.users.all %}
                {% if forloop.first %}<ul>{% endif %}
                    <li>{{ user }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
        </li>
    </ul>

    <p><a href="{% url 'confidence_circle_home' %}">Home</a></p>
{% endblock %}